.nav {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding: 0px;
    flex-direction: row-reverse;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.animal {
    flex-basis: 25%;
    display: flex;
}

img {
    width: 100px;
}